.channelsheader{
    margin-left: 20%;
    margin-top: -3%;
    width: 80%;
    height: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    color: white;
}


.horizontalcardheader{
    max-width: 100px;
    position: absolute;
    top: 62%;
    left: 21%;
}
a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
a:hover{
    text-decoration: none;
    color: white;
    
}

::placeholder{
    color: #3c3a3ac9;
}
@media (max-width:510px){
    .header{
        margin-left: 30%;
       
    }
}

