.onlinecinemaheader{
    margin-left: 20%;
    margin-top: -3%;
    width: 80%;
    height: auto;
    
}
.onlinecinemamovielist{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 80%;
    height: 90%;
}
@media (max-width:1050px) {
    .onlinecinemamovielist{
        left: 5%;
    }
}
@media (max-width:510px){
    .onlinecinemamovielist{
        left: 10%;
        width: 50%;
    }
}