.containerhorizontalcard{
    position: absolute;
    top: 65%;
    width: 80%;
    left: 20%;

}
.rowhorizontalcard{
    
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
   
  }
  .horizontalcard {
    width: 80%;
    float: left;
    max-width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    
  }
  
  .horizontalcard > img {
    margin-bottom: .75rem;
    
  }
  .imghorizontal{
  
      height: 150px;

  }
  
 
 
  .horizontalcarddesc{
 
       
      width: 60%;
      height: 30%;
  }
  .carddescimglink{
    height: 48px;
    border-radius: 50px;
    position: relative;
    top: 5px;
  }
  .carddescimg{

      height: 48px;
      border-radius: 50px;
  }
  .carddescinfo{
      position: relative;
      left: 25%;
      top: -55%;
      width: 70%;

  }
  h5{
      font-size: 15px;
      color: white;
  }
  .btnileri{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25%;
    background-image: url("//assets.dsmartgo.com.tr/content/img/trainFw.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin-left: 97%;
    z-index: 999;
}
.btngeri{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25%;
    background-image: url("https://assets.dsmartgo.com.tr/content/img/trainBack.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    margin-left: 3%;
    z-index: 999;
}

@media (max-width:1350px){
    .carddescinfo{
        left:35%;
    }
}
@media (max-width:1125px){
    .carddescinfo{
        left:55%;
    }
    .containerhorizontalcard{
        left: 10%;
    }
}
@media (max-width:1060px){
    .imghorizontal{
      width: 70%;
    }
    .carddescinfo{
        left: 45%;
    }
}
@media (max-width:1020px){
    .carddescinfo{
        left:55%;
    }
}
@media (max-width:510px){
    .horizontalcarddesc{
        display: none;
    }
    .imghorizontal{
        width: 110%;
    }
}