.moviecardcontainer{
    width: 20%;
    height: 300px;
    float: left
}
.cinemamovieimg{
    width: 70%;
    transition: transform .2s;
}
.moviecardbody{
    position: absolute;
    width: 250px;
}

.cinemamovieimg:hover{
    transform: scale(1.5);
}